<%= @book.inspect %>
<div class="well>"
<%= simple_form_for @book do |f| %>
<%= f.input :ititle %>
<%= f.input :author %>
<%= f.input :genre %>
<%= f.input :image_url %>
<%= f.input "Submit".html_safe, class: 'btn btn-lg btn-danger' %>
<%= end %>
</div>
</div>