<<<<<<< HEAD
<h1>Artists#new</h1>
<p>Find me in app/views/artists/new.html.erb</p>
=======
<div class="panel panel-default">
  <div class="panel-heading">
    <h1> New Artist </h1>
  </div>
 <%=render 'form' %>
</div>
>>>>>>> c93e07862b3941d651202b43986e96353a3e225a
