<<<<<<< HEAD
<h1>Artists#show</h1>
<p>Find me in app/views/artists/show.html.erb</p>
=======
<div class="row-fluid">
  <div class="panel panel-default">
  <div class="col-md-6">
    <%=image_tag(@artist.image_url, class: "img-responsive thumbnail") %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> <%= @artist.name%>
          <%=link_to "All Artists", artists_path, class: 'btn btn-default btn-xs'%>
        </h1>
      </div>
      <div class="panel-body">
        <p> <%= @artist.description %> </p>
      </div>
    </div>



  </div>
</div>
>>>>>>> c93e07862b3941d651202b43986e96353a3e225a
