<div class="panel panel-default:>
	<div class= "panel-heading">
		<h1> New Artist</h1>
	</div>

	siv class="panel-body">
	<%= f.input :name, label: false, imput_html: {palceholder: "Name"%>
<%= f.input :description, label false, as : :text, Input_html:[placeholder:"Artist Bio"}%>
<%= f.input :image_url, label: false, Input_html{placeholder: "Image"} %>
<%= f.input :submit "Submit". html_safe, class: "btn btn-lg btn-dager"%>
<%end%>
</div>

